{% extends 'base.html' %}


{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title"> Take Attandance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="subjects.html">Attandance</a></li>
                    <li class="breadcrumb-item active">Take Attandance</li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'includes/messages.html'%}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if action is None %}
                    <form action="?action=get_student" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Take Attandance</span></h5> 
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b>Subject</b></label>
                                    <select class="form-control" name="subject_id" required>
                                         {% for i in subject %}
                                        <option value="{{i.id}}">{{i.subject_name}}</option >
                                         {% endfor %}
                                     </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b>Session Year</b></label>
                                    <select class="form-control" name="session_id" required>
                                         {% for i in session %}
                                        <option required value="{{i.id}}">{{i.session_start}} To  {{i.session_end}} </option>
                                         {% endfor %}
                                     </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Fetch Student</button>
                            </div>
                        </div>
                    </form>
                    {% else %}

                    <form action="{% url 'staff_save_attandance' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject</span></h5>

                            </div>
                          
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <select class="form-control" name="subject_id" required>                                 
                                        <option value="{{get_subject.id}}">{{get_subject}}</option>
                                        
                                     </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <select class="form-control" name="session_id" required>
                                        <option value="{{get_session.id}}">{{get_session}} </option>
                                         
                                     </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Attandance Date</label>
                                    <input type="date" class="form-control" name="attandance_date" required>
                                </div>
                            </div>

                            {% for i in students %}

                            <div class="col-12  mt-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" value="{{i.id}}" name="student_id">
                                    <label class="form-check-label" for="exampleCheck1">{{i.admin.first_name}}  {{i.admin.last_name}}</label>
                                </div>
                            </div>  

                            {% endfor %}


                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}