{% extends 'base.html' %}


{% block content %}

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Students</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active">Students</li>
             </ul>
          </div>
          {% comment %} <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div> {% endcomment %}
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Addres</th>
                            <th>Gender</th>
                            <th>Course</th>
                            <th>Session</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                          
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for user in students %}
                         <tr>

                            <td>{{user.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                  <a href="student-details.html"  ><img class="avatar-img rounded-circle" src="/{{user.admin.profile_pic}}" alt="User Image"></a>
                                  <a style='text-decoration:none'  href="student-details.html">{{user.admin.first_name}}&nbsp; {{user.admin.last_name}}</a>
                               </h2>
                            </td>
                            <td>{{user.admin.email}}</td>
                            <td>{{user.admin}}</td>
                            <td>{{user.address}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.course_id}}</td>
                            <td>{{user.session_year_id}}</td>
                            <td>{{user.createdAt}}</td>
                            <td>{{user.uodatedAt}}</td>
                            
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'edit_student' user.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'delete_student' user.admin.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                        
                        {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>



{% endblock %}